
.header-bg {
    background-color: rgba(55, 81, 126, 0.3);
}

.navbar-bg {
    background-color: rgba(55, 81, 126, 0.9);
}

.main-bg {
    background-color: #ffff;
}

.overview-bg {
    background-color: #37517e;
}

.content-bg {
    background-color: #f3f5fa;
}

.content-bg-2 {
    background-color: #ffff;
}

.footer-bg {
    background-color: #ffff;
}

.banner {
    width: 100%;
    height: 50vh;
    overflow: hidden;
    object-fit: cover;
    /* object-position: top; */
}

.card img {
    overflow: hidden;
    object-fit: cover;
}

.card {
    width: 31%;
    height: 320px;
}

@media (max-width: 991px) {
    .card {
        width: 47%;
    }
}

@media (max-width: 767px) {
    .card {
        width: 95%;
    }
}

.text-blue {
    color: #37517e;
}

.text-grey {
    color: rgba(255, 255, 255, 0.6);
}

.text-white {
    color: white !important;
}

.rounded-50 {
    border-radius: 50px;
}
